@import "./style.css";
@import "./font.css";
@import "./variable.css";

/* --- Global Css --- */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: block;
  width: 100%;
  /* height: auto; */
  box-sizing: border-box;
  font-family: var(--font-korea-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  scroll-behavior: smooth;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  background-color: var(--color-white);
}

@media (max-width: 992px) {
  body.overflow {
    overflow: hidden;
  }
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

a,
button {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: block;
  margin: 0px !important;
}

img {
  display: block;
  width: 100%;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* --- container --- */
.container {
  display: block;
  max-width: 1463px;
  width: 100%;
  margin: auto;
  padding: 0px 26px;
  background: var(--color-white);
}

@media (max-width: 556px) {
  .container {
    padding: 0px 20px;
  }
}

/* navbar */
@media (max-width: 1080px) {
  .navbar .logo a img {
    width: 90%;
    display: flex;
  }
  nav .navbar {
    padding: 0 30px;
  }

  .nav-links li a {
    font-size: 17px;
    padding: 9px 20px;
    margin: 13px 5px;
  }
  .icon a {
    padding: 5px;
    font-size: 17px;
  }
}

@media screen and (max-width: 970px) {
  nav .navbar {
    padding-top: 15px;
    display: flex;
  }
  /* .navbar .nav-links {
    display: none;
  } */
  .navbar .logo a img {
    text-align: center;
  }

  .icon a {
    display: none;
  }

  .icon button {
    display: none;
  }

  .icon .bag a {
    visibility: visible;
    display: block;
    font-size: 20px;
    /* margin-right: 20px; */
  }

  .responsive-menu {
    visibility: visible;
    font-size: 20px;
    display: block;
  }

  .navbar .logo {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .navbar .nav-links {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 70px;
    text-align: center;
    left: 0;
    display: block;
    /* background: red; */
  }

  .navbar .nav-links li {
    display: block;
    margin: 40px 0;
    line-height: 5px;
  }

  .nav-links li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background: var(--text-color);
    left: 0;
    transition: width 0.3;
    bottom: -1px;
  }

  .nav-links li a:hover::after {
    width: 5%;
    transition: width 0.3s;
    left: 367px;
    align-items: center;
  }

  .search-input {
    position: relative;
    color: #aaa;
    font-size: 16px;
    display: inline-block;
    visibility: visible;
    margin: 4px 10px;
  }

  .search-input input {
    width: 700px;
    height: 50px;
    background: var(--color-white);
    border: 1px solid #aaa;
    /* position: relative; */
    border-radius: 3px;
    padding: 10px 20px;
    display: flex;
  }

  .search-input .fa-magnifying-glass {
    position: absolute;
    top: 17px;
    right: 20px;
  }

  .shop-list {
    position: static;
    top: 40px;
    width: 100%;
    left: 0;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
  }

  .shop-list .content {
    background: var(--color-white);
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
  }

  .content .row {
    width: 100%;
    margin-bottom: 15px;
  }
  .content .row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .row .list-item li {
    padding: 0 10px;
  }

  .row .list-item li a {
    padding: 0 10px;
    color: var(--text-color);
    font-size: 12px;
    display: block;
  }

  .row .list-item li a:hover::after {
    width: 25%;
  }
}
