@import "./variable.css";
@import "base.css";

nav .navbar {
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background: var(--color-white);
}

.navbar .nav-links {
  display: inline-flex;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background: var(--text-color);
  left: 0;
  transition: width 0.3;
  bottom: -1px;
}

.nav-links li a:hover::after {
  width: 40%;
  text-decoration: underline;
  transition: width 0.3s;
  left: 13px;
}

.icon {
  font-size: 20px;
  display: flex;
  /* padding: 5px 5px; */
}

.icon a {
  padding: 15px;
  color: var(--text-primary);
}

.nav-links li {
  list-style: none;
}

.nav-links li:hover .shop-list {
  top: 65px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.nav-links li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 600;
  padding: 9px 12px;
  margin: 13px 13px;
  text-transform: uppercase;
  position: relative;
}

.shop-list {
  position: absolute;
  top: 80px;
  width: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.shop-list .content {
  background: var(--color-white);
  padding: 45px 90px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.content .row {
  width: calc(20% - 10px);
  line-height: 22px;
  position: relative;
}

.content .row:nth-child(1),
.content .row:nth-child(2) {
  border-left: 0px;
}

.content .row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content .row .img-heading {
  position: absolute;
  top: 80%;
  padding-left: 20px;
  color: var(--text-color);
  font-size: 20px;
  border-bottom: 1px solid var(--text-primary);
  margin-bottom: -10px;
}

.content .row .img-heading p {
  font-size: 15px;
  padding-top: 5px;
}

.content .row h2 {
  color: var(--text-secondary);
  font-size: 18px;
  font-weight: 400;
  padding-left: 30px;

  /* text-align: center; */
}
.content h2:hover {
  color: var(--text-color);
}

.row .list-item li {
  padding: 0 10px;
}

.row .list-item li a {
  padding: 0 10px;
  color: var(--text-color);
  font-size: 12px;
  display: block;
}

.menu-page {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}
.imgbox {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  display: block;
}
.collection {
  width: 50%;
}

.collection-item {
  position: relative;
  background: var(--text-bg);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .menu-toggle {
  position: relative;
  background: var(--text-bg);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items li {
  list-style: none;
}

.items {
  display: inline-flex;
}

.items li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 600;
  padding: 9px 12px;
  margin: 10px 18px;
  text-transform: uppercase;
  position: relative;
}

.items li a.active {
  background-color: var(--text-color);
  /* padding: 5px 25px; */
  font-size: 23px;
  color: var(--color-white);
  border-radius: 4px;
}
.collection-list {
  position: relative;
  margin-right: 200px;
  margin-top: 10px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}

.collection-name li {
  list-style: none;
  padding: 10px 5px;
}
.product-options .collection-name li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.product-options .collection-name li a span {
  color: var(--text-mark);
}

.products-name .collection-name li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}
