:root {
  --font-korea-primary: "suit", sans-serif;
  --font-korea-secondary: "pretendard", sans-serif;
  --font-korea-third: "Noto Sans KR", sans-serif;
  --font-en-primary: "Inter", sans-serif;
  --font-text: "Montserrat", sans-serif;

  --color-white: #fff;
  --color-black: #000;

  --text-color: #09143d;
  --text-secondary: #909090;
  --text-bg: #f5f1f1;
  --text-mark: #c32929;
  --card-text: #757474;
  --font-color: #5f5959;
}
